<% include ../partials/header%>

<% if(!currentUser){ %>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="/">i-Tube</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/register/new">Register<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/login/new">Login<span class="sr-only"></span></a>
        </li>
      
        <li class="nav-item active">
            <a class="nav-link" href="/videos/add">Add Video <span class="sr-only"></span></a>
        </li>
    </div>
  </nav>
  <%} else{ %>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <a class="navbar-brand" href="/">i-Tube</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout<span class="sr-only"></span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/users/profile/<%=currentUser.id%>">Profile<span class="sr-only"></span></a>
          </li>

          <li class="nav-item active">
              <a class="nav-link" href="/videos/add">Add Video <span class="sr-only"></span></a>
            </li>
      </div>
    </nav>
  <%}%>


  

<div class="container-fluid  text-center" style="background-color: rgb(34, 1, 34)">
  <div class="row">
    <div class="col m-4">

   
      <h4 style="color:rgb(216, 184, 184)">Hello , <%=user.username%> welcome to your profile page</h4>
      <h4 style="color: aqua">Total videos created:  <%=videos.length%></h4>
          <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
           <button  class="btn btn-danger m-3">Delete my account</button>
          </form>
          <a class="btn btn-warning" href="/videos/add">Add Video</a>
          </div>
        </div>
        
</div>

<div class="container-fluid">
    <div class="row">
       <%videos.forEach((video) => {%>
        <div class="col-lg-4">
            <div class="card m-1">
               <div class="card-body">
                    <p><h5><%=video.title%></h5></p>
                  <iframe width="1000" height="900" class="img-thumbnail" src="https://www.youtube-nocookie.com/embed/<%=video.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  
                  <a href="/videos/<%=video._id%>">more info</a>            
                </div>
         </div>
      </div>
    <%})%>
    </div>
    
  </div>

  
<% include ../partials/footer%>